.biaoti{
    width: 200rpx;
    height: 50rpx;
    padding: 10rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5e5b;
    border-radius: 15rpx;
    font-size: 42rpx;
}
// .font{
//     font-weight: bold;
// }

.Active2{
    line-height: 25px;
    font-size: 30rpx;
    margin: 25rpx 30rpx;
    display: flex; 
    flex-flow: column;
    justify-content: center;
    border-radius: 15px;
    width: 700rpx;
    height: auto;
    background-color: #fff; 
    position: relative;
    .radiu {
      height: 25rpx;
      width: 25rpx;
      border: 2px solid #18c3b3;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 34rpx;
      right: 585rpx;
    }
    .Active3{
        display: flex;
        align-items: center;
        margin: 20rpx 30rpx;
        padding-left: 20rpx;
        width:600rpx; 
        height: auto;
        border-left: 5px solid #ff5e5b;
    }
    .Active4{
    display: flex;
    align-items: center;
    margin: 20rpx 30rpx;
    padding-left: 20rpx;
    width:600rpx; 
    height: auto;
    border-left: 5px solid #18c3b3;
    }
}

.gongneng_cata{
    display: flex;
    margin: 50rpx 30rpx;
    margin-bottom: 0rpx;
    navigator {
        display: flex;
        justify-content: center;
        flex: 1;
        image{
          width: 60%;
          height: 60%;
        }
    }
}

.name_list{
    display: flex;
    margin: 10rpx 30rpx;
    margin-bottom: 30rpx;
        .name{
        font-size: 30rpx;
        font-weight: 500;
        display: flex;
        flex: 1;
        justify-content: center;
    }
}


.all{
    height: 100rpx;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 40rpx 30rpx 0 30rpx;
}

.zero{
    display: flex;
    flex-flow: column;
    font-size: 35rpx;
    margin: 20rpx 30rpx;
    background-color: #fff;
    border-radius: 15rpx;
    .first{
    color: #000;
    display: flex;
    justify-content: space-between;
      .earing_info{
        flex: 8;
        overflow:hidden;  
        text-overflow:ellipsis;
        white-space:nowrap; 
        margin-top: 20rpx;
        margin-right:30rpx;
      }
      .icon2{
          flex: 1;
          margin-top: 0rpx;
          font-size: 34rpx;
          color: #ff5e5b;
      }
    }
    .time{
        display: flex;
        margin-right: 30rpx;
        margin-bottom: 13rpx;
        justify-content: flex-end;
        color: #999592;
        font-size: 25rpx;
    }
}



.second{
    display: flex;
    align-items: center;
}

.icon1{
    flex: 1;
    margin-left: 9rpx;
    margin-top: 7rpx;
    font-size: 67rpx;
    color: #ff5e5b;
  }
.icon3{
    flex: 1;
    margin-left: 9rpx;
    margin-top: 7rpx;
    font-size: 67rpx;
    color: #18c3b3;
  }

  .content{
    margin: 25rpx 30rpx;
    display: flex; 
    justify-content: center;
    border-radius: 5px;
    width: 700rpx;
    height: auto;
    background-color: #fff; 

    .befor{
    display: flex;
    margin: 20rpx 30rpx;
    padding-left: 20rpx;
    width:600rpx; 
    height: auto;
    border-left: 5px solid #999592;
    color: #999592;
      .after{
        font-size:16px;
        line-height:24px;
      }
    }
}
  
.zero0 {
    margin: 25rpx 30rpx;
    border-radius: 15px;
    justify-content: center;
    width: 700rpx;
    height: auto;
    background-color: #fff;
    padding-top: 20rpx;
    padding-bottom: 20rpx;
    .first0 {
      margin-left: 50rpx;
      display: flex;
      width: 600rpx;
      position: relative;
      .radiu {
        height: 105rpx;
        width: 12rpx;
        background-color: #18c3b3;
        border-radius: 23%;
        position: absolute;
        top: 34rpx;
        right: 585rpx;
      }
      .second0 {
        display: flex;
        flex-flow: column;
        margin: 20rpx 30rpx;
        padding-left: 20rpx;
        .title {
          font-size: 35rpx;
        }
        .other {
          font-size: 30rpx;
        }
      }
    }
  }

  .more{
    color: #333333;
  }
  .zero1 {
    display: flex;
    flex-flow: column;
    height: 110rpx;
    font-size: 35rpx;
    margin: 20rpx 30rpx;
    background-color: #fff;
    border-radius: 15rpx;
    .first1 {
      color: #000;
      display: flex;
      .icon1_1 {
        flex: 1;
        margin-left: 20rpx;
        margin-top: -2rpx;
        font-size: 67rpx;
        color: #18c3b3;
      }
      .earing_info1 {
        flex: 8;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 15rpx;
        margin-right: 30rpx;
      }
    }
    .time {
      display: flex;
      margin-right: 30rpx;
      margin-top: -12rpx;
      justify-content: flex-end;
      color: #999592;
      font-size: 25rpx;
    }
  }

  .bottom{
    margin-bottom: 40rpx;
  }